<div class="overlay">
  <div class="container">
    <div class="header">
      <img
        (click)="onCloseClick()"
        src="../../../../assets/icons/close.svg"
        alt=""
        class="icon"
      />
    </div>
    <div class="body">
      <ng-container [ngSwitch]="step">
        <ng-container *ngSwitchCase="Steps.email">
          <form
            (ngSubmit)="submitForm(forms[index]['form'])"
            [formGroup]="forms[index]['form']"
          >
            <div class="form-item">
              <app-text-input
                [placeholder]="'E-mail'"
                formControlName="email"
                [className]="hasError('email', 'email') && 'error'"
              ></app-text-input>
            </div>
          </form>
        </ng-container>
        <ng-container *ngSwitchCase="Steps.code">
          <form
            (ngSubmit)="submitForm(forms[index]['form'])"
            [formGroup]="forms[index]['form']"
          >
            <div class="form-item">
              <app-text-input
                [placeholder]="'Verification code'"
                formControlName="code"
                [className]="hasError('code') && 'error'"
              ></app-text-input>
            </div>
          </form>
        </ng-container>
        <ng-container *ngSwitchCase="Steps.recover">
          <form
            (ngSubmit)="submitForm(forms[index]['form'])"
            [formGroup]="forms[index]['form']"
          >
            <div class="form-item">
              <app-text-input
                [placeholder]="'Password'"
                formControlName="password"
                [inpType]="'password'"
                [className]="hasError('password', 'pattern') && 'error'"
              ></app-text-input>
            </div>
            <div class="form-item">
              <app-text-input
                [placeholder]="'Confirm password'"
                formControlName="confirmPassword"
                [inpType]="'password'"
                [className]="hasError('confirmPassword', 'pattern') && 'error'"
              ></app-text-input>
            </div>
          </form>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
