.container {
  height: 25vw;
  width: 45vw;
  min-width: 300px;
  min-height: 300px;

  .header {
    .icon {
      cursor: pointer;
      transition: opacity 200ms;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .body {
    height: 80%;
  }
}
