.container {
  height: 35vw;
  width: 35vw;
  min-width: 300px;
  min-height: 300px;

  .header {
    .icon {
      cursor: pointer;
      transition: opacity 200ms;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
