<section>
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of columns">
          <span (click)="onSort(column.key)" class="label">{{
            column.label
          }}</span>
          <span
            (click)="onSort(column.key)"
            class="icon"
            [style.display]="sortBy === column.key && 'contents'"
          >
            {{ sortingOrder === "asc" ? "▲" : "▼" }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td *ngFor="let column of columns">{{ item[column.key] }}</td>
      </tr>
    </tbody>
  </table>
  <app-paging
    [currentPage]="currentPage"
    [totalPages]="totalRecords / pageSize"
    (pageChange)="onPageChange($event)"
  >
  </app-paging>
</section>
