@import "../../../../assets/styles/_variables.scss";

.panel-container {
  display: flex;
  align-items: center;
  gap: 10px;

  > img {
    transform: rotate(270deg);
  }
  > a {
    text-transform: capitalize;
    cursor: pointer;
    color: $white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      font-weight: bolder;
    }
  }
}
