<div class="custom-dropdown {{ className }}" [class.focus]="showOptions">
  <div class="content" (click)="toggleDropdown()">
    @if(selectedOption){
    <span>{{ selectedOption.label }}</span>
    }@else if (defaultValue && !selectedOption) {
    <span>{{ defaultValue }}</span>
    }

    <div class="icons">
      @if(!defaultValue && selectedOption){
      <img
        (click)="resetDropdown()"
        class="clear-icon"
        src="../../../../assets/icons/clear.svg"
      />
      }
      <img
        class="pointer-icon"
        src="../../../../assets/icons/arrow-pointer.svg"
      />
    </div>
  </div>
  @if(showLabel){
  <label [class.active]="selectedOption">
    {{ placeholder }}
  </label>
  } @if(showOptions){
  <article>
    @for(option of options; track $index){
    <div class="item" (click)="selectOption(option)">
      {{ option.label }}
    </div>
    }@empty {
    <div class="item">Empty</div>
    }
  </article>
  }
</div>
