@import "../../../../assets/styles/variables";

.container {
  height: 100%;

  .step-view {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .box {
      display: flex;
      align-items: center;

      .line {
        height: 1.5px;
        opacity: 1 !important;
        transition: 500ms;
        background: linear-gradient(to right, $light-blue 50%, $white 50%);
        background-size: 200% 100%;
        background-position: right bottom;

        &.done {
          background-position: left bottom;
        }
      }

      &.disabled {
        pointer-events: none;
        opacity: 0.5;
      }

      .item {
        border: 1px solid $light-blue;
        color: $light-blue;
        background-color: transparent;
        font-size: 15px;
        transition: 200ms;
        padding: 4px 10px;
        border-radius: 5px;
        cursor: pointer;

        &.done {
          background: $light-blue;
          color: $dark;
        }

        &:hover {
          background-color: $light-blue;
          color: $dark;
        }
      }
    }
  }

  .steps-content {
    margin-top: 7%;
  }
}
