<div class="container">
  <div class="step-view">
    @for(step of data; track i; let i = $index ){
    <div
      class="box"
      [ngClass]="{
        disabled: step.level > finishedStep
      }"
      [style.gap]="boxGap"
    >
      <button
        id="stepButton{{ step.level }}"
        class="item"
        (click)="onStepClick(step)"
        [ngClass]="{ done: step.level < finishedStep }"
      >
        {{ step.title }}
      </button>
      @if(i < data.length - 1){
      <span
        class="line"
        [ngClass]="{ done: activeStep > step.level }"
        [style.width]="lineWidth"
      ></span>
      }
    </div>
    }
  </div>
  <article class="steps-content">
    <ng-content></ng-content>
  </article>
</div>
