<section>
  <div class="info">
    <h5>
      {{ from }} -

      <ng-container *ngIf="currentPage !== totalPages; else last">
        {{ from + pageSize - 1 }}
      </ng-container>
      <ng-template #last>
        {{ totalCount }}
      </ng-template>

      of {{ totalCount }}
    </h5>
  </div>
  <div class="pagination">
    <button
      class="page-link"
      (click)="firstPage()"
      [disabled]="currentPage === 1"
    >
      <img src="../../../../assets/icons/paginator-first.svg" alt="" />
    </button>
    <button
      class="page-link"
      (click)="prevPage()"
      [disabled]="currentPage === 1"
    >
      <img src="../../../../assets/icons/paginator-prev.svg" alt="" />
    </button>

    <button
      class="page-link"
      (click)="nextPage()"
      [disabled]="currentPage === totalPages"
    >
      <img src="../../../../assets/icons/paginator-next.svg" alt="" />
    </button>

    <button
      class="page-link"
      (click)="lastPage()"
      [disabled]="currentPage === totalPages"
    >
      <img src="../../../../assets/icons/paginator-last.svg" alt="" />
    </button>
  </div>
</section>
