<section>
  <div class="info">
    <h5>
      {{ from }} -       
      {{ to }}
       of {{ totalCount }}
    </h5>

    <app-dropdown
      [formControl]="pageSizeControl"
      [options]="pageSizeOptions"
      [defaultValue]="pageSizeControl.value"
      [className]="'paginator'"
      [showLabel]="false"
    ></app-dropdown>
  </div>
  <div class="pagination">
    <app-button
      [className]="'button--page-link'"
      (onClick)="firstPage()"
      [disabled]="currentPage === 1"
      [mode]="'only-icon'"
      [imgSrc]="'../../../../assets/icons/paginator-first.svg'"
    ></app-button>

    <app-button
      [className]="'button--page-link'"
      (onClick)="prevPage()"
      [disabled]="currentPage === 1"
      [mode]="'only-icon'"
      [imgSrc]="'../../../../assets/icons/paginator-prev.svg'"
    ></app-button>

    <app-button
      [className]="'button--page-link'"
      (onClick)="nextPage()"
      [disabled]="currentPage === totalPages"
      [mode]="'only-icon'"
      [imgSrc]="'../../../../assets/icons/paginator-next.svg'"
    ></app-button>

    <app-button
      [className]="'button--page-link'"
      (onClick)="lastPage()"
      [disabled]="currentPage === totalPages"
      [mode]="'only-icon'"
      [imgSrc]="'../../../../assets/icons/paginator-last.svg'"
    ></app-button>
  </div>
</section>
