<section>
  <div class="info">
    <h5>
      {{ from }} - @if (currentPage !== totalPages) {
      {{ from + pageSize - 1 }}
      }@else {
      {{ totalCount }}
      } of {{ totalCount }}
    </h5>
  </div>
  <div class="pagination">
    <button
      class="page-link"
      (click)="firstPage()"
      [disabled]="currentPage === 1"
    >
      <img src="../../../../assets/icons/paginator-first.svg" alt="" />
    </button>
    <button
      class="page-link"
      (click)="prevPage()"
      [disabled]="currentPage === 1"
    >
      <img src="../../../../assets/icons/paginator-prev.svg" alt="" />
    </button>

    <button
      class="page-link"
      (click)="nextPage()"
      [disabled]="currentPage === totalPages"
    >
      <img src="../../../../assets/icons/paginator-next.svg" alt="" />
    </button>

    <button
      class="page-link"
      (click)="lastPage()"
      [disabled]="currentPage === totalPages"
    >
      <img src="../../../../assets/icons/paginator-last.svg" alt="" />
    </button>
  </div>
</section>
