<section>
  <h2>Create new account</h2>

  <form (ngSubmit)="submitForm(form)" [formGroup]="form">
    <div class="form-item">
      <app-text-input
        [placeholder]="'E-mail'"
        formControlName="email"
      ></app-text-input>
    </div>
    <div class="form-item">
      <app-text-input
        [placeholder]="'Full name'"
        formControlName="fullName"
      ></app-text-input>
    </div>
    <div class="form-item">
      <app-dropdown
        [placeholder]="'Role'"
        formControlName="role"
        [options]="options"
      ></app-dropdown>
    </div>
    <div class="form-item">
      <app-text-input
        [placeholder]="'Password'"
        formControlName="password"
        [inpType]="'password'"
      ></app-text-input>
    </div>
    <div class="form-item">
      <app-text-input
        [placeholder]="'Confirm password'"
        formControlName="confirmPassword"
        [inpType]="'password'"
      ></app-text-input>
    </div>

    <div class="btn">
      <app-button [btnType]="'submit'" [label]="'sign in'"></app-button>
    </div>
  </form>
  <div class="opposite-form">
    <a routerLink="/auth/signin">I am already a member</a>
  </div>
</section>
