<section>
  <ng-container *appLoading="isLoading"></ng-container>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          @for(column of columns; track column.key){
          <th>
            <span (click)="onSort(column.key!)" class="label">{{
              column.label
            }}</span>
            <span
              (click)="onSort(column.key!)"
              class="icon"
              [style.display]="sortBy === column.key && 'contents'"
            >
              {{ sortOrder === "asc" ? "▲" : "▼" }}
            </span>

            @switch (column.searchable) { @case (SearchModes.Input) {
            <div class="search-input">
              <app-text-input
                [placeholder]="'Search'"
                [formControl]="searchControls[column.key!]"
              ></app-text-input>
            </div>
            } @case (SearchModes.Dropdown) {
            <div class="search-input">
              <app-dropdown
                [placeholder]="'Search'"
                [formControl]="searchControls[column.key!]"
                [options]="[1, 0]"
              ></app-dropdown>
            </div>
            } }
          </th>
          }
        </tr>
      </thead>

      <tbody>
        @for (item of tableData; track $index) {
        <tr>
          @for (column of columns; track $index) {
          <td>
            {{ item[column.key!] }}
          </td>
          }
        </tr>
        }
      </tbody>
    </table>
  </div>
  <app-paging
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [totalPages]="paginator['totalPages']"
    [totalCount]="paginator['totalCount']"
    (pageChange)="onPageChange($event)"
  >
  </app-paging>
</section>
