<section>
  <ng-container *appLoading="isLoading"></ng-container>

  <table>
    <thead>
      <tr>
        <th *ngFor="let column of columns; trackBy: trackByFn">
          <ng-container *ngIf="column.key">
            <span (click)="onSort(column.key)" class="label">{{
              column.label
            }}</span>
            <span
              (click)="onSort(column.key)"
              class="icon"
              [style.display]="sortBy === column.key && 'contents'"
            >
              {{ sortOrder === "asc" ? "▲" : "▼" }}
            </span>

            <div class="search-input" *ngIf="column.isInput">
              <app-text-input
                [placeholder]="'Search'"
                [formControl]="searchControls[column.key]"
              ></app-text-input>
            </div>
            <div class="search-input" *ngIf="column.isDropdown">
              <app-dropdown
                [placeholder]="'Search'"
                [formControl]="searchControls[column.key]"
                [options]="['1', '0']"
              ></app-dropdown>
            </div>
          </ng-container>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of tableData">
        <td *ngFor="let column of columns">
          {{ item[column.key!] }}
        </td>
      </tr>
    </tbody>
  </table>
  <app-paging
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [totalPages]="paginator['totalPages']"
    [totalCount]="paginator['totalCount']"
    (pageChange)="onPageChange($event)"
  >
  </app-paging>
</section>
