<div class="custom-dropdown {{ className }}" [class.focus]="showOptions">
  <div class="content" (click)="toggleDropdown()">
    <span *ngIf="selectedOption">{{ selectedOption.label }}</span>
    <div class="icon">></div>
  </div>
  <label [class.active]="selectedOption">
    {{ placeholder }}
  </label>
  <article *ngIf="showOptions">
    <div
      class="item"
      *ngFor="let option of options"
      (click)="selectOption(option)"
    >
      {{ option.label }}
    </div>
  </article>
</div>
