<div class="overlay">
  <div class="container">
    <div class="header">
      <img
        (click)="onCloseClick()"
        src="../../../../assets/icons/close.svg"
        alt=""
        class="icon"
      />
    </div>
    <div class="body">
      <app-stepper
        [activeStep]="step"
        [stepCount]="stepperOptions.length"
        [data]="stepperOptions"
        [restart]="restartStepper"
        (onStepClicked)="step = $event"
      >
        <div class="form-container">
          @switch (step) { @case (Steps.email) {
          <div class="step-item">
            <form
              (ngSubmit)="submitForm(formItem['form'])"
              [formGroup]="formItem['form']"
            >
              <div class="form-item">
                <app-text-input
                  [placeholder]="'E-mail'"
                  formControlName="email"
                  [className]="hasError('email', ['email']) && 'error'"
                ></app-text-input>
              </div>
              <div class="btn">
                <app-button [btnType]="'submit'" [label]="'send'"></app-button>
              </div>
            </form>
          </div>
          } @case (Steps.code) {
          <div class="step-item">
            <form
              (ngSubmit)="submitForm(formItem['form'])"
              [formGroup]="formItem['form']"
            >
              <div class="form-item">
                <app-text-input
                  [placeholder]="'Verification code'"
                  formControlName="code"
                  [className]="
                    hasError('code', ['minlength', 'maxlength']) && 'error'
                  "
                ></app-text-input>
              </div>
              <div class="btn">
                <app-button
                  [btnType]="'submit'"
                  [label]="'verify'"
                ></app-button>
              </div>
            </form>
          </div>
          } @case (Steps.recover) {
          <div class="step-item">
            <form
              (ngSubmit)="submitForm(formItem['form'])"
              [formGroup]="formItem['form']"
            >
              <div class="form-item">
                <app-text-input
                  [placeholder]="'Password'"
                  formControlName="password"
                  [inpType]="'password'"
                  [showEye]="true"
                  [className]="hasError('password', ['pattern']) && 'error'"
                ></app-text-input>
              </div>
              <div class="form-item">
                <app-text-input
                  [placeholder]="'Confirm password'"
                  formControlName="confirmPassword"
                  [inpType]="'password'"
                  [showEye]="true"
                  [className]="
                    hasError('confirmPassword', ['pattern']) && 'error'
                  "
                ></app-text-input>
              </div>
              <div class="btn">
                <app-button [btnType]="'submit'" [label]="'done'"></app-button>
              </div>
            </form>
          </div>
          } }
        </div>
      </app-stepper>
    </div>
  </div>
</div>
