.container {
  height: 25vw;
  width: 45vw;
  min-width: 300px;
  min-height: 360px;

  .header {
    .icon {
      cursor: pointer;
      transition: opacity 200ms;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .body {
    height: 80%;

    .step-item {
      form {
        width: 46.5%;
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .step-item {
    form {
      width: 85.5% !important;
    }
  }
}
