<section>
  <ng-container *appLoading="isLoading"></ng-container>

  <h2>Create new account</h2>
  <form
    (ngSubmit)="submitForm(form)"
    [formGroup]="form"
    *validate="{form}; let errors"
  >
    <div class="form-item">
      <app-text-input
        [placeholder]="'E-mail'"
        formControlName="email"
        [className]="errors?.['email'] && 'error'"
      ></app-text-input>
    </div>
    <div class="form-item">
      <app-text-input
        [placeholder]="'Full name'"
        formControlName="fullName"
        [className]="errors?.['fullName'] && 'error'"
      ></app-text-input>
    </div>
    <div class="form-item">
      <app-dropdown
        [placeholder]="'Role'"
        formControlName="role"
        [options]="options"
        [className]="errors?.['role'] && 'error'"
      ></app-dropdown>
    </div>
    <div class="form-item">
      <app-text-input
        [placeholder]="'Password'"
        formControlName="password"
        [inpType]="'password'"
        [showEye]="true"
        [className]="errors?.['password'] && 'error'"
      ></app-text-input>
    </div>
    <div class="form-item">
      <app-text-input
        [placeholder]="'Confirm password'"
        formControlName="confirmPassword"
        [inpType]="'password'"
        [showEye]="true"
        [className]="errors?.['confirmPassword'] && 'error'"
      ></app-text-input>
    </div>

    <div class="btn">
      <app-button
        [btnType]="'submit'"
        [label]="'sign up'"
        [isLoading]="isBtnLoading"
      ></app-button>
    </div>
  </form>
  <div class="opposite-form">
    <a routerLink="/sign/in">I am already a member</a>
  </div>
</section>
