<section>
  <h2>Sign in to your account</h2>

  <form
    (ngSubmit)="submitForm(form)"
    [formGroup]="form"
    *validate="{form}; let errors"
  >
    <div class="form-item">
      <app-text-input
        [placeholder]="'E-mail'"
        formControlName="email"
        [className]="errors?.['email'] ? 'error' : ''"
      >
      </app-text-input>
    </div>
    <div class="form-item">
      <app-text-input
        [placeholder]="'Password'"
        formControlName="password"
        [className]="errors?.['password'] && 'error'"
        [inpType]="'password'"
        [showEye]="true"
      ></app-text-input>
    </div>
    <div class="btn">
      <app-button
        [btnType]="'submit'"
        [label]="'sign in'"
        [isLoading]="isBtnLoading"
      ></app-button>
    </div>
  </form>
  <div class="opposite-form">
    <p>New here?</p>
    <a routerLink="/sign/up">Sign Up</a>
  </div>
  <div class="opposite-form">
    <a (click)="openPasswordStepsModal()">Forgot password?</a>
  </div>
</section>
