@import "../../../../assets/styles/variables";

.skeleton-cont {
  width: 100%;
  display: flex;
  flex-direction: column;

  .skeleton-row {
    width: 100%;
    height: 43.55px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .skeleton-item {
      background: linear-gradient(90deg, $dark 25%, $dark-hover 50%, $dark 75%);
      background-size: 200% 100%;
      animation: gradientShimmer 1.5s infinite linear;
      height: 10px;
      border-radius: 10px;
      width: 100%;
    }
  }
}

@keyframes gradientShimmer {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}
