@import "/src/assets/styles/variables";

.pagination {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  padding: 5px;

  .page-link {
    display: inline-block;
    padding: 6px 12px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: transparent;
    border: none;
    border-radius: 5px;

    &:hover {
      background-color: #3938386f;
    }

    &.active {
      background-color: #fff;
      color: $dark;
    }
  }
}
