@import "styles/variables";

body {
  padding: 0;
  margin: 0;
  background-color: $bg-dark;
}

* {
  font-family: Montserrat, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji" !important;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: $gray;
}

input,
span,
div,
p {
  color: $gray;
}
