<header>
  <div class="header">
    <button
      class="icon"
      (click)="toggleSidenav()"
      [style.marginLeft]="sidenavSize"
    >
      <img src="../../../../assets/icons/burger.svg" alt="" />
    </button>
  </div>
</header>
<section
  class="sidenav-container"
  [ngStyle]="{
    width: sidenavSize,
    left: isOpen ? '0' : this.sizes('-40%', '-20%')
  }"
>
  <div class="routers">
    <a
      class="router-item"
      routerLink="/admin"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Dashboard
    </a>
    <a
      class="router-item"
      routerLink="/admin/parking-history"
      routerLinkActive="active"
    >
      Parking History
    </a>
    <a
      class="router-item"
      routerLink="/admin/parking-zones"
      routerLinkActive="active"
    >
      Parking Zones
    </a>
    <a class="router-item" routerLink="/admin/cars" routerLinkActive="active">
      Cars
    </a>
  </div>
</section>

<router-outlet></router-outlet>
