<main
  [ngClass]="{
    'sidebar-opened': isOpen
  }"
>
  <header>
    <div class="header">
      <button class="icon" (click)="toggleSidebar()">
        <img src="../../../../assets/icons/burger.svg" alt="" />
      </button>
    </div>
  </header>
  <section class="sidebar-container">
    <div class="routers">
      <a
        class="router-item"
        routerLink="/admin"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="onClick()"
      >
        Dashboard
      </a>
      <a
        class="router-item"
        routerLink="/admin/parking-history"
        routerLinkActive="active"
        (click)="onClick()"
      >
        Parking History
      </a>
      <a
        class="router-item"
        routerLink="/admin/parking-zones"
        routerLinkActive="active"
        (click)="onClick()"
      >
        Parking Zones
      </a>
      <a
        class="router-item"
        routerLink="/admin/cars"
        routerLinkActive="active"
        (click)="onClick()"
      >
        Cars
      </a>
    </div>
  </section>

  <section
    class="admin-section"
    [ngStyle]="{
      'margin-left': isOpen ? 'clamp(230px, 20%, 20%)' : '0'
    }"
  >
    <app-navigation-panel></app-navigation-panel>

    <router-outlet></router-outlet>
  </section>
</main>
