@import "/src/assets/styles/variables";

button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  position: relative;

  &:disabled {
    pointer-events: none;
  }
}

.button {
  &-default {
    border: 1px solid $light-blue;
    color: $light-blue;
    background-color: transparent;
    font-size: 15px;
    padding: 10px 20px;
    transition: 200ms;
    width: 100%;

    &:hover {
      background-color: $light-blue;
      color: $dark;
    }
  }
}
